@charset "UTF-8";

@font-face {
  font-family: "LingLengLang";
  src: url("LingLengLang.woff2") format("woff2"),
       url("LingLengLang.woff") format("woff"),
       url("LingLengLang.ttf") format("truetype"),
       url("LingLengLang.eot") format("embedded-opentype"),
       url("LingLengLang.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}